.burger_menu {
    background-color: transparent;
    width: 34px;
    height: 34px;
    display: none;
}

.nav_menu {
    width: 184px;
    height: 56px;
    padding: 16px;
    display: flex;
}
.menu_items {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.menu_item {
    position: relative;
    border-radius: 6px;
    transition: all 0.15s;
    cursor: pointer;

    & .fav_link,
    & .acc_link,
    & .cart_link {
        display: flex;
        //display: block;
        padding: 15px;
    }

    &:hover {
        background-color: var(--additional-orange);
    }
}

@media (max-width: 768px) {
    .burger_menu {
        display: flex;
        align-items: center;
        //display: block;
    }
    .nav_menu {
        display: block;
        margin-left: auto;
    }
    .menu_items {
        justify-content: flex-end;
        gap: 0;
    }
    .menu_item {
        & .fav_link,
        & .acc_link {
            display: none;
        }
        & .cart_link {
            //display: block;
            padding: 0;
        }
    }  
}
