.burger_menu {
    background-color: transparent;
    width: 34px;
    height: 34px;
    display: none;
}

.nav_menu {
    width: 184px;
    height: 56px;
    padding: 16px;
}
.menu_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.menu_item {
    position: relative;
}

@media (max-width: 768px) {
    .burger_menu {
        display: block;
    }
    .nav_menu {
        margin-left: auto;
    }
    .menu_items {
        justify-content: flex-end;
        gap: 0;
    }
    .fav_link,
    .acc_link {
        display: none;
    }
    .cart_link {
        display: block;
    }
}
