.burger_menu {
    background-color: transparent;
    width: 34px;
    height: 34px;
    //display: none;
}

.nav_menu {
    width: 184px;
    height: 56px;
    padding: 16px;
}
.menu_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
