.ui_btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    background-color: var(--system-primary);
    cursor: pointer;

    &.ui_btn_sidebar {
        margin-top: 120px;
    }
    &.ui_btn_bookDetails {
        border-radius: 3px;
        overflow: hidden;
    }
    &.ui_btn__cancel {
        background-color: var(--bg-primary);
        border: 1px solid var(--bg-primary2);
        cursor: not-allowed;

        .ui_btn {
            color: var(--system-primary);
            &:hover {
                background-color: var(--bg-primary2);
            }
        }
    }
    &.ui_btn__cancel, 
    &.ui_btn__save {
        .ui_btn {
            cursor: not-allowed;
        }
    }
    &.ui_btn_signIn,
    &.ui_btn_signUp {
        border-radius: 5px;
        overflow: hidden;
    }
}

.ui_btn {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Bebas Neue";
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: var(--bg-primary);
    text-transform: uppercase;
    background-color: transparent;
    transition: all 0.2s;

    &:hover {
        background-color: var(--system-primary2);
    }
    &:active {
        background-color: var(--system-secondary);
    }

    &._disabled {
        cursor: not-allowed;
        background-color: var(--bg-primary2);
    }
}
