#header {
    // height: 104px;
    // padding: 24px 0px;
    // border-bottom: 1px solid var(--bg-primary2);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--bg-primary);
    z-index: 1000;
    max-width: 1090px;
}

.header_container {
    height: 104px;
    padding: 24px 0px;
    border-bottom: 1px solid var(--bg-primary2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header_logo {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.05em;
    color: var(--system-primary);
}

@media (max-width: 768px) {
    .header_logo {
        font-size: 26px;
    }
    .header_container {
        gap: 0;
    }
}
