.react-tabs {
    margin-top: 72px;
}

.react-tabs__tab-list {
    margin-bottom: 48px;
}

.react-tabs__tab {
    font-size: 16px;
    line-height: 150% ;
    padding: 0 40px 24px;
    border: none;
    color: var(--system-secondary);
    border-radius: 5px 5px 0 0 ;
    transition: all 0.15s;

    &--selected {
        color: var(--system-primary);
        border-bottom: 2px solid var(--system-primary);
    }

    &:focus {
        &:after {
          background: transparent;
        }
      }
    
    &:hover {
        background-color: var(--bg-primary2);
    }

    &-panel {
        display: none;

        &--selected {
          display: block;
          padding: 10px;
          font-size: 16px;
          line-height: 200%;
          color: var(--system-primary);
        }
      }
}

@media (max-width: 504px) {
    .react-tabs {
        margin-top: 52px;
    }
    .react-tabs__tab-list {
       text-align: center;
    }
    .react-tabs__tab {
        padding: 10px 20px 5px;
    }
}