.sidebar {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(49, 48, 55, 0.5);
    }
}

.sidebar_content {
    //position: relative;
    height: 100%;
    width: 368px;
    //left: 0;
    padding: 40px 40px 56px;
    background-color: var(--bg-primary);
    animation: show 0.3s ease;
    // transition: all 0.3s;

    // ._active {
    //     transition: all 2s;
    //     left: 368px;
    // }
}

.sidebar_nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--bg-primary2);
    margin-bottom: 56px;
    padding-bottom: 39px;

    .logo {
        display: none;
    }

    .nav_link {
        display: none;
    }

    .close_menu {
        margin-left: auto;
        background-color: transparent;
    }
}
.sidebar_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
    gap: 48px;

    .link {
        font-family: "Bebas Neue";
        font-weight: 700;
        font-size: 32px;
        line-height: 138%;

        &:visited {
            color: inherit;
        }
    }
}

@keyframes show {
    from {
        width: 0px;
    }
    to {
        width: 368px;
    }
}

@media (max-width: 365px) {
    .sidebar_content {
        width: 100%;
    }
}
