.section_container {
    height: 100%;
}

.store_card {
    margin-top: 20px;
}

.store_card > *:not(:last-child) {
    margin-bottom: 20px;
}

// .clear_icon {
//     position: absolute;
//     z-index: 1000;
//     top: 10px;
//     right: 10px;
//     cursor: pointer;
// }

