.page_containter {
    height: 100%;
    width: 100%;
    padding: 72px 0px;
}
.section_container {
    height: 100%;
    width: 100%;
}
.cards_container {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, minmax(272px, 1fr));
    grid-auto-rows: auto;
    gap: 48px 32px;
}

.books_qty {
    margin-top: 20px;
    span {
        font-size: 16px;
        line-height: 150%;
        color: var(--system-secondary);
    }
}
@media (max-width: 992px) {
    .cards_container {
        grid-template-columns: repeat(2, minmax(272px, 1fr));
    }
}

@media (max-width: 670px) {
    .cards_container {
        grid-template-columns: 70%;
        justify-content: center;
    }
}

@media (max-width: 478px) {
    .cards_container {
        grid-template-columns: 90%;
        justify-content: center;
    }
}
