.details_container {
    flex: 0 1 50%;
    padding: 0 0 0 100px;
}
.details {
    padding: 41px 0 0 0;
    border-top: 1px solid var(--bg-primary2);
}
.details_list,
.more_details_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: start;
    gap: 10px 0;
    margin-top: 30px;
}
.list_item {
    font-size: 14px;
    line-height: 150%;
    height: 100%;
    display: flex;
    align-items: center;

    &:nth-child(odd) {
        color: var(--system-secondary);
    }

    &:nth-child(even) {
        font-size: 15px;
        font-weight: 700;
        color: var(--system-primary);
    }
}

.more_details {
    position: relative;
    margin-bottom: 120px;
}
.more_details_list {
    grid-template-rows: repeat(3, 1fr);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-primary);
    filter: opacity(0.9);
}
.more_details_btn {
    font-size: 13px;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 994px) {
    .details_container {
        flex: 0 1 100%;
        padding: 0;
    }
    .more_details {
        margin: 15px 0 80px;
    }
}

@media (max-width: 472px) {
    .details_list,
    .more_details_list {
        grid-template-columns: 1fr;
    }
    .more_details {
        margin-bottom: 80px;
    }
    .list_item {
        &:nth-child(even) {
            text-align: start;
        }
    }
}
