.field_container {
    display: flex;
    flex-direction: column;
}
.field_label {
    font-family: 'Helios';
    font-weight: 700;
    font-size: 16px;
    line-height: 200%;
    //color: var(--system-primary);
    color: var(--system-primary2);
    margin-bottom: 3px;
}
.field_input {
    border: 1px solid var(--bg-primary2);
    border-radius: 3px;
    padding: 14px 0 14px 20px;
    //margin-bottom: 4px;

    &.field_input--invalid {
        border-color: var(--contextual-color);
    }

    &::placeholder {
        font-family: 'Helios';
        font-weight: 400;
        font-size: 16px;
        line-height: 200%;
        color: var(--system-secondary);
    }

    &:focus {
        border: 1px solid var(--system-secondary);
        background-color: var(--additional-blue);

        & + .input_tooltip {
            opacity: 1;
        }
    }
}
.input_tooltip {
    font-family: 'Helios';
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    line-height: 200%;
    color: var(--system-secondary);
    text-align: end;
    opacity: 0;
    transition: all 0.15s;
}