.title {
    text-align: start;
}
.text_large {
    font-family: "Bebas Neue";
    font-weight: 700;
    font-size: 56px;
    line-height: 114%;
    color: var(--system-primary);
}

.text_medium {
    font-family: "Bebas Neue";
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: var(--system-primary);
}
