.title {
    text-align: start;
}
.text {
    font-family: "Bebas Neue";
    font-weight: 700;
}
.text_large {
    font-size: 56px;
    line-height: 114%;
    color: var(--system-primary);
}

.text_medium {
    font-size: 40px;
    line-height: 150%;
    color: var(--system-primary);
}

.text_small {
    font-size: 24px;
    line-height: 133%;
    color: var(--system-primary);
}
.book-page_title {
    margin-bottom: 48px;
}
@media (max-width: 525px) {
    .text_large {
        font-size: 48px;
    }
}

@media (max-width: 426px) {
    .text_large {
        font-size: 40px;
    }
}
