.form_container {
    // background-color: white;
    // position: absolute;
    // top: -100px;
    // left: 50%;
    // z-index: 1000000;
    // transform: translate(-50%);
    position: relative;

    max-width: 544px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid var(--bg-primary2);
    box-shadow: 0px 0px 10px var(--system-secondary);

}

.tabs {
    margin: 0;
}

.tabs_list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid var(--bg-primary2);
}

.tab_item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px 50px;
    cursor: pointer;
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: var(--system-secondary);
}

.tab_panel--selected {
    padding: 35px;
}

.tab_item--selected {
    color: var(--system-primary);
    border-bottom: 2px solid var(--system-primary);
}

@media (max-width: 391px) {
    .tab_item {
        padding: 26px 30px;
    }
    .tab_panel--selected {
        padding: 32px 16px 40px;
    }
}