.active {
   &::after {
       content: '';
       position: absolute;
       top: -3px;
       right: -1px;
       width: 7px;
       height: 7px;
       border-radius: 50%;
       background-color: red;
   }
}