.counter_container { 
    position: relative;
    padding: 12px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    cursor: pointer;
    
    &.card__favourites,
    &.card__initial,
    &.card__results {
        display: none;
    }
    &.card__store {
        align-self: flex-start;
    }
}

.count {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: var(--system-primary);
}

.counter_decrement,
.counter_increment {
    padding: 10px;
    font-size: 20px;
    color: var(--system-primary);
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.15s;

    &:hover {
        background-color: var(--bg-primary2);
    }
}

@media (max-width: 510px) {
    .counter_container {
        position: absolute;
        bottom: 25px;
        right: 25px;
        gap: 20px;
    }
}